@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-ui-bg/90 backdrop-blur-xl border border-ui-border shadow-glass;
  }

  .glass-card {
    @apply bg-white/5 border border-white/5 hover:bg-white/10 transition-colors duration-200;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}